@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../components/sass/_base.scss */
*:root {
  font-family: 'Merriweather', serif;
}

/* line 9, ../components/sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../components/sass/_base.scss */
body {
  background: #CDD7D6;
}

/* line 17, ../components/sass/_base.scss */
h1 {
  font-size: 2rem;
  text-align: center;
  padding: .5em;
  color: #102542;
  border-bottom: 3px solid #102542;
}

/* line 26, ../components/sass/_base.scss */
h2 {
  font-size: 1.4rem;
  padding: .5em;
  color: #102542;
}

/* line 33, ../components/sass/_base.scss */
.question-container-question {
  font-size: 2rem;
  background: #102542;
  color: #CDD7D6;
  width: 80%;
  padding: 1rem;
  margin: 1em auto 2em;
  line-height: 1.5em;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
/* line 43, ../components/sass/_base.scss */
.question-container-question:first-letter {
  float: left;
  background: #CDD7D6;
  color: #102542;
  display: inline-block;
  padding: 0 .4rem;
  margin-right: .2rem;
  font-size: 2.6rem;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.5);
}

/* line 55, ../components/sass/_base.scss */
.question-container-choices {
  width: 60%;
  margin: 2rem auto;
  padding: .5rem;
  background: #B3A394;
  list-style: upper-latin;
  list-style-position: inside;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

/* line 65, ../components/sass/_base.scss */
.choice, .chosen, .chosen:hover {
  background: #102542;
  color: #CDD7D6;
  padding: .5rem;
  padding-right: 4rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  transition: .5s;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.5);
}
/* line 76, ../components/sass/_base.scss */
.choice::after, .chosen::after, .chosen:hover::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border: 5px solid #CDD7D6;
  transition: .5s;
}

/* line 89, ../components/sass/_base.scss */
.choice:hover, .chosen:hover, .chosen {
  background: #CDD7D6;
  color: #102542;
  padding-left: 1rem;
  font-size: 1.3rem;
}
/* line 94, ../components/sass/_base.scss */
.choice:hover::after, .chosen:hover::after, .chosen::after {
  border: 5px solid #102542;
  right: .5rem;
}

/* line 102, ../components/sass/_base.scss */
.chosen::after, .chosen:hover::after {
  border: 0px solid #102542;
  border-right: 5px solid #102542;
  border-bottom: 5px solid #102542;
  transform: translate(-50%, -50%) rotate(45deg);
  width: .5rem;
  height: 1.3rem;
}

/* line 112, ../components/sass/_base.scss */
.text-center {
  text-align: center;
}

/* line 115, ../components/sass/_base.scss */
.text-right {
  text-align: right;
}

/* line 119, ../components/sass/_base.scss */
.btn {
  display: inline-block;
  font-size: 1.3em;
  padding: .5em;
  background: #FFFFFF;
  color: #102542;
  margin: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  border-top: #102542 5px solid;
  border-bottom: #102542 5px solid;
  border-left: #102542 3px solid;
  border-right: #102542 3px solid;
  position: relative;
  left: 0px;
  top: 0px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  transition: .25s;
}
/* line 138, ../components/sass/_base.scss */
.btn:hover {
  left: -2px;
  top: -2px;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
}
/* line 143, ../components/sass/_base.scss */
.btn:active {
  left: 1px;
  top: 1px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

/* line 151, ../components/sass/_base.scss */
.question-wrong {
  width: 80%;
  margin: auto;
  background: #F87060;
  padding: 1em;
}
/* line 157, ../components/sass/_base.scss */
.question-wrong:first-line {
  font-size: 1.3rem;
}

/* line 162, ../components/sass/_base.scss */
.question-right {
  width: 80%;
  margin: auto;
  background: #FFFFFF;
  padding: 1em;
}
/* line 168, ../components/sass/_base.scss */
.question-right:first-line {
  font-size: 1.3rem;
}

/* line 173, ../components/sass/_base.scss */
.wiggle {
  animation: wiggle .5s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3.5deg);
  }
  75% {
    transform: rotate(3.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
