// _base.scss
// ====================
@import url('https://fonts.googleapis.com/css?family=Merriweather');

*:root {
  font-family: 'Merriweather', serif;
}

body {
  background: $clr-3;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: .5em;
  color: $clr-1;
  //background: $clr-2;
  border-bottom: 3px solid $clr-1;
}

h2 {
  font-size: 1.4rem;
  padding: .5em;
  text-align: center;
  color: $clr-1;
}

.question-container-question {
  font-size: 2rem;
  background: $clr-1;
  color: $clr-3;
  width: 80%;
  padding: 1rem;
  margin: 2em auto;
  line-height: 1.5em;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  
  &:first-letter {
    float: left;
    background: $clr-3;
    color: $clr-1;
    display: inline-block;
    padding: 0 .4rem;
    margin-right: .2rem;
    font-size:2.6rem;
    box-shadow: inset 2px 2px rgba(0,0,0,0.5);
  }
}

.question-container-choices {
  width: 60%;
  margin: 2rem auto;
  padding: .5rem;
  background: $clr-4;
  list-style: upper-latin;
  list-style-position: inside;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.choice {
  background: $clr-1;
  color: $clr-3;
  padding: .5rem;
  padding-right: 4rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  transition: .5s;
  box-shadow: inset 3px 3px rgba(0,0,0,0.5);
  
  &::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1rem;
    height: 1rem;
    border: 5px solid $clr-3;
    transition: .5s;
  }
}

.choice:hover, .choosen{
  background: $clr-3;
  color: $clr-1;
  padding-left: 1rem;
  font-size: 1.3rem;
  &::after {
    border: 5px solid $clr-1;
    right: .5rem;
  }
}

.choosen, .choosen:hover {
  @extend .choice;
  &::after {
    border: 0px solid $clr-1;
    border-right: 5px solid $clr-1;
    border-bottom: 5px solid $clr-1;
    transform: translate(-50%,-50%) rotate(45deg);
    width: .5rem;
    height: 1.3rem;
  }
}

.btn-container {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.3em;
  padding: .5em;
  background: $clr-5;
  color: $clr-1;
  margin: 30px;
  cursor: pointer;
  border-radius: 10px;
  border-top: $clr-1 5px solid;
  border-bottom: $clr-1 5px solid;
  border-left: $clr-1 3px solid;
  border-right: $clr-1 3px solid;
}

